<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<p>
  <strong>Media:</strong>
  <%= @log.media_id %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @log.media_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @log.user_id %>
</p>

<%= link_to 'Back', logs_path %>
