<p>
  <strong>User:</strong>
  <%= @stress2_survey.user_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @stress2_survey.result %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @stress2_survey.recommendation %>
</p>

<p>
  <strong>P1:</strong>
  <%= @stress2_survey.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @stress2_survey.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @stress2_survey.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @stress2_survey.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @stress2_survey.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @stress2_survey.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @stress2_survey.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @stress2_survey.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @stress2_survey.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @stress2_survey.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @stress2_survey.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @stress2_survey.p12 %>
</p>

<p>
  <strong>P13:</strong>
  <%= @stress2_survey.p13 %>
</p>

<p>
  <strong>P14:</strong>
  <%= @stress2_survey.p14 %>
</p>
