<body>
<div class="wrapper-fix">

  <div class="nav-container">
    <%= render "layouts/nav_admin_final" %>
  </div>

  <div class="main-container main-response">
    <section class="page-title page-title-3 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="uppercase mb0">Secuencias de Imágenes</h1>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <br>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha agregado</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @infographics.each do |infographic| %>
                <tr>
                  <td><%= infographic.name %></td>
                  <td><%= infographic.description %></td>
                  <td><%= infographic.created_at %></td>
                  <td><%= link_to 'Editar', edit_infographic_path(infographic) %></td>
                  <td><%= link_to 'Eliminar', infographic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class row="col-sm-1"></div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <%= button_to "Nueva Secuencia", new_infographic_path, :method => :get %>
      </div>
      <div class="col-sm-9"></div>
    </div>
    <br>

  </div>
  <div class="push"></div>
</div>
<div class="footer-fix"></div>
</body>